body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-color);
  size: 16px;
  letter-spacing: 0.02em;
}

:root {
  --brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --btn-color: #404bbf;
  --underline-color: #00bfff;
  --button-decoratin-color: #8a2be2;
}

/* heder */
.header {
  background-color: var(--white-color);
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: var(--dark-color);
  line-height: 1.5;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.logo span {
  color: var(--brand-color);
}

ul{
  list-style: none;
}

a {
text-decoration: none;
}

.page-list .page-link {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.page-list .page-link:hover,
.page-list .page-link:focus {
  color: var(--brand-color); 
}
  
.page-list .page-link:active {
  text-decoration: underline var(--btn-color);
  color: var(--brand-color);
}

.contact-list .contact-link {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--brand-color);
}

.contact-list .contact-link:active {
  color: var(--brand-color);
}

.current {
  color: var(--btn-color);
}

/* section-main */

.section-main {
  background-color: var(--dark-color);
}

.title-hero {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.75;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-family: inherit;
}

.btn {
  background-color: var(--brand-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.04em;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-color);
}

.btn:active {
  text-decoration: underline var(--button-decoratin-color);
}

/*section advantage*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section advantage {
  background-color: var(--white-color);
}

.subject {
  color: var(--dark-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
}

/* section work */

.section-work {
  background-color: var(--white-color);
}

.title-work {
  font-size: 36px;
  line-height: 2.5;
  color: var(--dark-color);
  font-weight: 700;
  letter-spacing: 0.02em;
}

/* section team */

.section-team {
  background-color: var(--light-color);
}

.title-team {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 2.5;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.name {
  font-size: 20px;
  line-height: 1.5;
  color: var(--dark-color);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.profession {
  line-height: 1.5;
  color: var(--text-color);
}

/*filter*/

.all-filter-botton {
  background-color: var(--white-color);
  color:var(--brand-color) ;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.all-filter-botton:hover,
.all-filter-botton:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
}

.all-filter-botton:active {
  text-decoration: underline var(--underline-color);
}

.filter-botton {
  background-color: var(--light-color);
  color: var(--brand-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.filter-botton:hover,
.filter-botton:focus {
  background-color: var(--brand-color);
  color: var(--light-color);
}

.filter-botton:active {
  text-decoration: underline var(--button-decoratin-color);
}

/* proects */

.proects {
  background-color: var(--white-color);
}

.title-proect {
  font-size: 20px;
  line-height: 1.5;
  color: var(--dark-color);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.direction {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: 0.02em;
}

/*footer*/

.footer {
  background-color: var(--dark-color);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  color: var(--accent-color);
  font-weight: 400;
  letter-spacing: 0.02em;
}

.footer .logo {
  color: var(--light-color);
}
